<div class="mb-20">
    <div class="grid justify-center py-5 mt-10">
        <h1 class="text-4xl">Our Blogs</h1>
    </div>
    <div class="px-10 py-10" >
        {% for blog in blogs %}
        <div class="flex gap-5 cursor-pointer my-10" onclick="location.href='{% url 'BlogDetails' blog.slug %}'">
            <img src="{{ blog.image.url }}" alt="" srcset="" width="200" height="200">
            <div>
                <h1 class="text-xl font-bold">{{ blog.title }}</h1>
                <p class="text-sm text-justify">{{ blog.description|truncatewords:30 }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>